<h1>分享测试页面</h1>

<script>
  var wxData = {
    "imgUrl": 'http://eggman.tv',
    "link": 'http://eggman.tv',
    "title": "蛋人网",
    "desc": "精通你的所学"
  };
</script>
<%= javascript_include_tag "WeixinApi.js", "wechat_share.js" %>
